<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<configSections>
  <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="TransiSoftWA.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <system.web>
		<compilation debug="true" targetFramework="4.8.1" />
		<httpRuntime targetFramework="4.8.1" />
	</system.web>
	<system.data>
		<DbProviderFactories>
			<!-- MySQL -->
			<remove invariant="MySql.Data.MySqlClient" />
			<add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".NET Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=9.4.0.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
			<!-- SQL Server -->
			<remove invariant="System.Data.SqlClient" />
			<add name="Microsoft SQL Server Data Provider" invariant="System.Data.SqlClient" description=".NET Framework Data Provider for Microsoft SQL Server" type="System.Data.SqlClient.SqlClientFactory, System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
		</DbProviderFactories>
	</system.data>
	<appSettings>
		 <!-- Cambiar el provider, el hostname y el puerto para MSSQL -->
		<!--
		<add key="db.provider" value="System.Data.SqlClient" />
		<add key="db.hostname" value="database-mssql-prog3.c8gxs4z7p75e.us-east-1.rds.amazonaws.com" />
		<add key="db.port" value="1433" />
		-->
		<add key="db.provider" value="MySql.Data.MySqlClient" />
		<add key="db.hostname" value="base-datos-p3.cjdbmfpgkvrx.us-east-1.rds.amazonaws.com" />
		<add key="db.port" value="3306" />
		
		<add key="db.username" value="admin" />
		<add key="db.password" value="14angel042004" />
		<add key="db.database" value="transitsoft" />
		<add key="db.key" value="jGwZUx4lOJZj8wXav7Sknw==" />
		<add key="db.passwordEncriptado" value="stnJaCR9mKQuamt7opCojQ==" />
		
	</appSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.2.4.0" newVersion="4.2.4.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
 <system.serviceModel>
  <bindings>
   <basicHttpBinding>
    <binding name="InfraccionWSPortBinding" />
    <binding name="CapturaWSPortBinding" />
    <binding name="VehiculoWSPortBinding" />
    <binding name="CamaraWSPortBinding" />
    <binding name="PropietarioWSPortBinding" />
   </basicHttpBinding>
  </bindings>
  <client>
   <endpoint address="http://localhost:8080/TransiSoftWS/InfraccionWS"
    binding="basicHttpBinding" bindingConfiguration="InfraccionWSPortBinding"
    contract="TransiSoftServices.InfraccionWS" name="InfraccionWSPort" />
   <endpoint address="http://localhost:8080/TransiSoftWS/CapturaWS"
    binding="basicHttpBinding" bindingConfiguration="CapturaWSPortBinding"
    contract="TransiSoftServices.CapturaWS" name="CapturaWSPort" />
   <endpoint address="http://localhost:8080/TransiSoftWS/VehiculoWS"
    binding="basicHttpBinding" bindingConfiguration="VehiculoWSPortBinding"
    contract="TransiSoftServices.VehiculoWS" name="VehiculoWSPort" />
   <endpoint address="http://localhost:8080/TransiSoftWS/CamaraWS"
    binding="basicHttpBinding" bindingConfiguration="CamaraWSPortBinding"
    contract="TransiSoftServices.CamaraWS" name="CamaraWSPort" />
   <endpoint address="http://localhost:8080/TransiSoftWS/PropietarioWS"
    binding="basicHttpBinding" bindingConfiguration="PropietarioWSPortBinding"
    contract="TransiSoftServices.PropietarioWS" name="PropietarioWSPort" />
  </client>
 </system.serviceModel>
</configuration>